<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedString</string>
		<key>LINTableNameCompletionPatterns</key>
		<dict>
			<key>Swift</key>
			<array>
				<string>NSLocalizedString\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*tableName\s*:\s*(&lt;#String\?#&gt;)</string>
				<string>NSLocalizedString\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*tableName\s*:\s*(&lt;#T##String\?#&gt;)</string>
				<string>NSLocalizedString\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*tableName\s*:\s*(&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</array>
		</dict>
		<key>LINKeyCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedString\s*\(\s*(&lt;#key#&gt;)</string>
				<string>NSLocalizedString\s*\(\s*(\w*)</string>
			</array>
			<key>Swift</key>
			<array>
				<string>NSLocalizedString\s*\(\s*(&lt;#key: String#&gt;)</string>
				<string>NSLocalizedString\s*\(\s*(&lt;#T##key: String##String#&gt;)</string>
				<string>NSLocalizedString\s*\(\s*(\w*)</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringFromTable</string>
		<key>LINTableNameCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringFromTable\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<string>NSLocalizedStringFromTable\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</array>
		</dict>
		<key>LINKeyCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringFromTable\s*\(\s*(&lt;#key#&gt;)</string>
				<string>NSLocalizedStringFromTable\s*\(\s*(\w*)</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringFromTableInBundle</string>
		<key>LINTableNameCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</array>
		</dict>
		<key>LINKeyCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(&lt;#key#&gt;)</string>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(\w*)</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringWithDefaultValue</string>
		<key>LINTableNameCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</array>
		</dict>
		<key>LINKeyCompletionPatterns</key>
		<dict>
			<key>Objective-C</key>
			<array>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(&lt;#key#&gt;)</string>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(\w*)</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
