<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedString</string>
		<key>LINKeyCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedString\s*\(\s*(\w*)</string>
				<key>Swift</key>
				<string>NSLocalizedString\s*\(\s*\w*</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedString\s*\(\s*(&lt;#key#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedString\s*\(\s*\w*</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringFromTable</string>
		<key>LINTableNameCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTable\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTable\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTable\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTable\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
			</dict>
		</array>
		<key>LINKeyCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTable\s*\(\s*(\w*)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTable\s*\(\s*(\w*)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTable\s*\(\s*(&lt;#key#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTable\s*\(\s*(&lt;#key#&gt;)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringFromTableInBundle</string>
		<key>LINTableNameCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
			</dict>
		</array>
		<key>LINKeyCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(\w*)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(\w*)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(&lt;#key#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringFromTableInBundle\s*\(\s*(&lt;#key#&gt;)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>LINFunctionName</key>
		<string>NSLocalizedStringWithDefaultValue</string>
		<key>LINTableNameCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(@&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&quot;(?:[^\\&quot;]|\\.)*&quot;)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*@&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*&quot;(?:[^\\&quot;]|\\.)*&quot;\s*,\s*(&lt;#tbl#&gt;)</string>
			</dict>
		</array>
		<key>LINKeyCompletionPatterns</key>
		<array>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(\w*)</string>
				<key>Swift</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(\w*)</string>
			</dict>
			<dict>
				<key>Objective-C</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(&lt;#key#&gt;)</string>
				<key>Swift</key>
				<string>NSLocalizedStringWithDefaultValue\s*\(\s*(&lt;#key#&gt;)</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
